body {
  font-family: sans-serif;
}
.App {
  margin: 40px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.icon {
  width: 17px;
  height: 17px;
  padding-right: 10px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.title2 {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 17px;
  font-family: monospace;
}

.description {
  font-size: 19px;
  color: #5d5d5d;
}